# Ignore all files and directories except for *.psd1, *.psm1 README.md, LICENSE, and .gitignore
*
!obj
!obj/*.json
!obj/*.props
!obj/*.targets
!AtlassianCloud-PowerKit*/
!*.psd1
!*.psm1
!README.md
!.gitignore
!.gitattributes
!LICENSE.md
